.data-table {
    width: 100%;
    border-collapse: collapse;
}


.data-table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}


.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
}


.delete-button {
    background-color: #ff5555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.select-all-checkbox {
    margin-right: 5px;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #3366ff 0%, #ff99cc 100%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.error-message {
    color: #ff0000;
    margin-top: 8px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    padding-top: 5px 6px;
}

.container button {
    padding: 5px 6px;
    margin: 16px 6px;
}


.delete {
    background-color: #c93232;
}

.delete:hover {
    background-color: #ff0000;
}

.form-contianer {
    margin: 16px 7px;
}